.content{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-presente{
  flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 60px 20px;
    gap: 40px;
    display: flex;
}

.title{
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0;
  color: var(--primary-color);
}

.pesquisa-filtro {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
}


  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  .search-bar input {
    border: none;
    outline: none;
    margin-left: 8px;
    font-size: 14px;
    color: #999;
    background-color: transparent;
    width: 300px;
  }

  .search-bar input::placeholder {
    color: #d0cfd4;
  }

  .filtro-content{
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-weight: bold;
      color: var(--primary-color);
    }
  }

  .sort-dropdown {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--primary-color);
    gap: 8px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 150px;
  }

  .sort-dropdown svg {
    width: 12px;
    height: 12px;
    fill: var(--primary-color);
  }


  .product-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px;
    height: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // gap: 12px;
  }

  .product-card img {
    max-width: 100%;
    border-radius: 8px;
  }

  .product-name {
    font-size: 14px;
    color: var(--primary-color);
  }

  .product-price {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
  }

  .product-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  .product-button:hover {
    background-color: #684bb5;
  }


  .lista-presentes-cards{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

  }


  mat-select {
    text-align: center; /* Alinha o texto no centro */
    font-size: 14px; /* Ajuste o tamanho da fonte */
    color: var(--primary-color); /* Cor personalizada */
  }



@media (max-width: 820px) {

  .pesquisa-filtro {
    justify-content: center
  }


}

@media (max-width: 650px) {
  .search-bar {
    width: 100%;
  }

  .search-bar input {
    width: 100%;
  }

}


@media (max-width: 490px) {
  .product-card {
    width: 45%;

  }
}

@media (max-width: 450px) {
  .title{
      font-size: 30px;
  }
}

@media (max-width: 400px) {
  .title{
      font-size: 20px;
  }
}

