<!-- <div *ngIf="!isLoaded" class="loading-screen">
  Seu spinner de carregamento (por exemplo, usando o Angular Material)
  <mat-spinner size="15"></mat-spinner>
  <p>Carregando...</p>
</div> -->

<div *ngIf="issafari">
  <app-error></app-error>
</div>

<div *ngIf="!issafari">
  <div class="menu-container">
    <nav class="desktop-menu">
        <ul>
          <li><a href="#home" (click)="scrollTo('home')"  [ngStyle]="activeMenu === 'home' ? {'text-decoration': 'underline'} : {}" >Home</a></li>
          <li><a href="#presenca" (click)="scrollTo('cerimonia')"  [ngStyle]="activeMenu === 'presenca' ? {'text-decoration': 'underline'} : {}" >Confirme sua presença</a></li>
          <li><a href="#casal" (click)="scrollTo('casal')"   [ngStyle]="activeMenu === 'casal' ? {'text-decoration': 'underline'} : {}"  >O casal</a></li>
          <li><a href="#cerimonia" (click)="scrollTo('cerimonia')"  [ngStyle]="activeMenu === 'cerimonia' ? {'text-decoration': 'underline'} : {}" >Cerimônia</a></li>
          <li><a href="#presente" (click)="scrollTo('presente')" [ngStyle]="activeMenu === 'presente' ? {'text-decoration': 'underline'} : {}" >Lista de presentes</a></li>
          <li><a href="#recado" (click)="scrollTo('recado')"  [ngStyle]="activeMenu === 'recado' ? {'text-decoration': 'underline'} : {}" >Recados</a></li>
        </ul>
    </nav>


    <div class="hamburger-menu" >
      <button class="hamburger-btn" *ngIf="!menuOpen" (click)="toggleMenu()">
        &#9776;
      </button>
      <div *ngIf="menuOpen" class="overlay open" (click)="closeMenu()"></div>

      <div class="side-menu" [class.open]="menuOpen">
        <ul>
          <li><a href="#home" (click)="closeMenu()" [ngStyle]="activeMenu === 'home' ? {'background-color': '#7f56c9'} : {}">Home</a></li>
          <li><a href="#presenca" (click)="closeMenu()"  [ngStyle]="activeMenu === 'presenca' ? {'background-color': '#7f56c9'} : {}">Confirme sua presença</a></li>
          <li><a href="#casal" (click)="closeMenu()"  [ngStyle]="activeMenu === 'casal' ? {'background-color': '#7f56c9'} : {}">O casal</a></li>
          <li><a href="#cerimonia" (click)="closeMenu()"  [ngStyle]="activeMenu === 'cerimonia' ? {'background-color': '#7f56c9'} : {}">Cerimônia</a></li>
          <li><a href="#presente" (click)="closeMenu()"  [ngStyle]="activeMenu === 'presente' ? {'background-color': '#7f56c9'} : {}">Lista de presentes</a></li>
          <li><a href="#recado" (click)="closeMenu()"  [ngStyle]="activeMenu === 'recado' ? {'background-color': '#7f56c9'} : {}">Recados</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <section id="home">
      <app-home></app-home>
    </section>
    <section id="presenca">
      <app-presenca></app-presenca>
    </section>
    <section id="casal">
      <app-casal></app-casal>
    </section>
    <section id="cerimonia">
      <app-cerimonia></app-cerimonia>
    </section>
    <section id="presente">
      <app-presente ></app-presente>
    </section>
    <section id="recado">
      <app-recado></app-recado>
    </section>
  </div>

  <button
    id="scrollToTopBtn"
    class="scroll-to-top"
    [class.show]="isVisible"
    (click)="scrollToTop()"
  >
    ▲
  </button>
</div>


