.content{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-cerimonia{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 60px 20px;
    .mapa-site{
        width: 80%;
    }
}


.title{
    font-size: 40px;
    font-weight: bold;
    color: var(--secondary-color);
    padding: 20px 0;
}

.descricao-historia{
    font-size: 16px;
    color: var(--light-color);
    text-align: center;
}


@media (max-width: 450px) {
    .title{
        font-size: 30px;
    }

    .descricao-historia{
        font-size: 13px;
    }
  }

  @media (max-width: 400px) {
    .title{
        font-size: 20px;
    }
  }

