<div class="content">

    <div class="content-cerimonia">

        <p class="title">Cerimônia</p>

        <div class="texto-cerimonia" style="width: 80%; margin-bottom: 25px;">
          <p class="descricao-historia">
            <strong>Local:</strong> 6910 Estrada Fazenda União, California, Barra do Piraí - RJ, 27163-000<br>
            <strong>Coordenadas:</strong> Latitude -22.435247606044122, Longitude -44.04274307301314<br>
            <strong>Telefone para contato:</strong> (24) 99951-9515<br>
            Estamos ansiosos para compartilhar esse momento especial com vocês!<br>
            <strong>Horário:</strong> Aguardamos vocês às <strong>18h</strong>! Por favor, <strong>não se atrasem</strong>. Após a cerimônia, guiaremos todos ao local da festa, onde celebraremos até o amanhecer. 🥂✨
            Preparem-se para uma noite inesquecível! 🕺💃
          </p>
        </div>

        <div class="mapa-site">
            <app-mapa></app-mapa>
        </div>


    </div>

</div>
