<div class="content">
     <!-- CAPA  -->
    <div class="content-capa">
        <div class="imgem-capa">
            <img src="./assets/capa_1.png" alt="">
        </div>
        <div class="caixa-texto">
            <div class="divisor"></div>
            <div class="texto">
                <p>Cassiane</p>
                <p>e Noeldes</p>
                <div class="data">
                    <span>
                        <i class="fa-solid fa-calendar-days"></i>
                    </span>
                    <span>24 de maio de 2025</span>
                </div>
            </div>
            <div class="divisor"></div>
        </div>
    </div>

    <!-- CONTAGEM REGRESSIVA -->
     <div class="content-contagem">
        <p class="title-contagem">Contagem Regressiva</p>
        <div class="cards-contagem">
            <div class="card-contagem">
                <span>{{timeLeft.days}}</span>
                <span>Dias</span>
            </div>
            <div class="card-contagem">
                <span>{{timeLeft.hours}}</span>
                <span>Horas</span>
            </div>
            <div class="card-contagem">
                <span>{{timeLeft.minutes}}</span>
                <span>Minutos</span>
            </div>
            <div class="card-contagem">
                <span>{{timeLeft.seconds}}</span>
                <span>Segundos</span>
            </div>
        </div>
     </div>

     <div class="content-historia">
        <div class="content-texto-hitoria">
            <p class="descricao-historia">Criamos esse site para compartilhar com vocês os detalhes da organização do nosso casamento. Estamos muito felizes e contamos com a presença de todos no nosso grande dia!</p>
            <p class="descricao-historia">Aqui vocês encontrarão também dicas para hospedagem, salão de beleza, trajes, estacionamento, etc. Ah, é importante também confirmar sua presença. Para isto contamos com sua ajuda clicando no menu “Confirme sua Presença” e preenchendo os dados necessários. Para nos presentear, escolha qualquer item da Lista de Casamento, seja um item de algum dos sites, lojas físicas, ou então vocês podem utilizar a opção de cotas. Fiquem à vontade!</p>
            <h4 class="title-historia">Aguardamos vocês no nosso grande dia!</h4>
            <h4 class="casal-historia">Cassiane e Noeldes</h4>
        </div>
     </div>
</div>
