<div class="content">

    <div class="content-casal">
        <p class="title">O casal</p>
    
       <div class="content-foto">
            <img src="./assets/foto_4.png" alt="">
            <img src="./assets/foto_02.png" alt="">
       </div>
    
        <div class="content-historia">
            <h6 class="descricao-titulo">Cassiane e Noeldes: Um Amor que Segue para o Altar!</h6>
            <p class="descricao-historia">Tudo começou no dia 15 de maio de 2018, quando Cassiane e Noeldes iniciaram uma linda história de amor. Foram sete anos de namoro cheios de cumplicidade, carinho e momentos marcantes que só fortaleceram o laço entre eles.</p>
            <p class="descricao-historia">Um dos momentos mais emocionantes dessa jornada aconteceu no dia 15 de janeiro de 2024. Cassiane foi surpreendida com uma festa de aniversário surpresa preparada por Noeldes e pessoas queridas. Mas, no meio da comemoração, veio outra surpresa ainda mais especial: o pedido de casamento! Em meio a sorrisos e lágrimas de alegria, Noeldes se declarou e fez a grande pergunta, deixando todos emocionados quando Cassiane respondeu com um sonoro "sim".</p>
            <p class="descricao-historia">Agora, o casal se prepara para um dia ainda mais especial: o casamento, marcado para 24 de maio de 2025. Esse será o início de uma nova etapa, onde poderão continuar construindo a vida que sempre sonharam, cercados por amor, apoio e muita alegria. </p>
            <p class="descricao-historia">Cassiane e Noeldes mostram, dia após dia, que o segredo de um relacionamento feliz está nos pequenos gestos, no respeito mútuo e na capacidade de sonhar juntos. Desde 2018, eles vêm provando que o amor verdadeiro é construído com dedicação e cuidado.</p>
            <p class="descricao-historia">Com a data do casamento se aproximando, a emoção só aumenta. O dia 24 de maio de 2025 será a celebração de uma história linda, e todos que acompanharam essa caminhada estarão lá para compartilhar esse momento único. Cassiane e Noeldes, Nos somos a prova viva de que o amor é a melhor surpresa que a vida pode nos dar! <span class="coracao">❤</span></p>
        </div>
    </div>
    
</div>
